@import '~antd/dist/antd.css';

body {
  background: linear-gradient(#fff, #eee);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.ant-carousel .slick-slide {
  height: 300px;
  line-height: 300px;
  background: transparent;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #333;
}

.ant-anchor-wrapper {
  background-color: transparent !important;
  width: 100px !important;
  position: fixed !important;
  right: 50% !important;
  top: 45% !important;
  z-index: 9999;
}